.content-row {
  margin-top: 30px;
}
section {
  padding: 100px 0;
}
.bg-gray {
  background-color: #f5f5f5;
}
.bg-dark {
  color: white;
  background-color: #222222;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
}
.owl-theme .owl-controls .owl-page span {
  background: rgba(34, 34, 34, 0.5);
}
.btn-full-width {
  border: 0;
  border-radius: 0;
  background-color: #222222;
  color: white;
  padding: 50px 0;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: normal;
  text-transform: none;
}
.btn-full-width:hover {
  background-color: #ffc153;
  color: white;
}
.btn-full-width:focus {
  color: white;
}
aside.cta-quote {
  color: white;
  background-color: #222222;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://d2713zaslmgu0p.cloudfront.net/assets/img/landing-quote.jpg'), no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
  text-align: center;
}
aside.cta-quote span.quote {
  display: block;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
}
@media (min-width: 768px) {
  aside.cta-quote {
    background-attachment: scroll;
    padding: 150px 0;
  }
  aside.cta-quote span.quote {
    font-size: 36px;
    line-height: 38px;
  }
}
@media (min-width: 992px) {
  aside.cta-quote {
    padding: 300px 0;
  }
  aside.cta-quote span.quote {
    font-size: 40px;
    line-height: 42px;
  }
}
@media (min-width: 1025px) {
  aside.cta-quote {
    background-attachment: fixed;
  }
}
