/* master layout styles */
.tgc-container {
  margin-top: 90px;
}
/* utility classes */
.modal-img {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#prices {
	text-align: center;
}
