/* master layout styles */
.tgc-container {
	margin-top: 90px;
}
/* utility classes */
.modal-img {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#prices {
	text-align: center;
}
.unbolded-label{
	font-weight: normal;
	font-size: 14px;
}
.activeOrder{
	color: white;
	background: #F49231;
	border-color: #F49231;
	outline: none;
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, .125);
}