.portfolio-filter {
  display: block !important;
}
.portfolio-filter #filters {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.portfolio-filter #filters li {
  display: inline-block !important;
}
.portfolio-filter #filters li .filter {
  display: block !important;
  cursor: pointer;
  padding: 10px 15px;
  margin: 2px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 12px;
  color: #222222;
  background: transparent;
  border: 1px solid #222222;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio-filter #filters li .filter.active {
  background-color: #ffc153;
  color: white;
  border-color: #ffc153;
}
#portfoliolist .portfolio {
  width: 31%;
  margin: 1%;
  display: none;
}
#portfoliolist .portfolio .portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #222222;
  cursor: pointer;
}
#portfoliolist .portfolio .portfolio-wrapper img {
  max-width: 100% !important;
  position: relative !important;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#portfoliolist .portfolio .portfolio-wrapper img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
#portfoliolist .portfolio .portfolio-wrapper .caption {
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: -75px;
}
#portfoliolist .portfolio .portfolio-wrapper .caption .caption-bg {
  background: #ffc153;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text {
  color: white;
  position: relative;
  z-index: 500;
  padding: 15px 8px;
}
#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text a.text-title {
  color: white;
}
#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text .text-category {
  display: block;
  font-size: 12px;
}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  #portfoliolist .portfolio {
    width: 48%;
    margin: 1%;
  }
}
